<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PeNet" version="2.9.8" targetFramework="net48" />
  <package id="PeNet.Asn1" version="2.0.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Pkcs" version="6.0.1" targetFramework="net48" />
</packages>